*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background: white;
}
.container::before{
    content: '';
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(9, 9, 91);
}
.sub-container{
    height: 85vh;
    width: 75%;
    background: transparent;
    position: relative;
   top: 40px;
   left: 7rem;
   backdrop-filter: blur(20px);
   border-radius: 20px;
   border: 1px solid blue;
   z-index: 10;
   box-shadow: 1px 2px 10px 6px rgba(0, 0, 255, 0.299);
    
}
.nav{
    word-spacing: 1rem;
}

.nav a{
    position: relative;
    top: 5px;
    left: 20rem;
    color: blue;
    text-decoration: none;
    font-style: italic;
  
}

.nav a:hover{
    border: 1px solid blue;
    background: white;
    color: blue;
    font-style: normal;
    border-radius: 5px;
    transition: .1s;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 255, 0.667);
}
 body{
    overflow-x: hidden;
  } 
.img img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 5px solid white;
    outline: 6px solid rgb(20, 20, 106);
    position: relative;
    left: 1rem;
    top: 2rem;
    /* transform: rotate('360deg'); */
    animation: img 2s ease 3s normal;
    /* transition: 3s; */
    
}
@keyframes img {
    from{
        transform: rotate(45deg);
    }
    to{
        transform: translate(0);
    }
    
 }
 .fin{
    height: 100vh;
    background: linear-gradient(aqua , blue );
 }
 .pt{

    color: aqua;
    font-size: 20px;
    border: 1px solid blue;
    border-radius: 10px;
    position: relative;
    top: 10rem;
    width: 30%;
    text-decoration: none;
    background: blue;
    
    


 }
.two{
    position: relative;
    left: 15rem;
    bottom: 9rem;
    color: blue;
    font-size: 27px;
    /* word-spacing: 1px; */

}
h2{
    color: blue;
    position: relative;
    left: 15rem;
    bottom: 9rem;
    font-size: 22px;
}
.btn{
    position: relative;
    bottom: 8rem;
}
.one{
    text-align: center;
    color: white;
    text-decoration: underline;
    position: relative;
    top: 20px;
}
.cv{
    height: 1.5rem;
    width: 40%;
    border: 1px solid blue;
    background: rgb(4, 4, 112);
    border-radius: 10px;
    position: relative;
    bottom: 8rem;
    right: 2rem;
    color: aliceblue;
    outline: 1px solid blue;

}
.len{
    height: 1px;
    width: 20rem;
    border:2px white ;
    position: relative;
    left: 15rem;
    top: 8rem;
}
.vid{
    height: 100px;
    position: relative;
    width: 175px;
    left: 32rem;
    bottom: 1rem;
    border: 1px solid blue;
    background: url(wrk.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;

   

}
.mg{
    height: 200px;
    position: relative;
    width: 150px;
    top: 2rem;
    left: 19rem;
    border: 1px solid blue;
    background: url(WhatsApp\ Image\ 2024-06-12\ at\ 10.39.04\ AM.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;
   
}
   
   
    

.kin{
   color: aliceblue;
   position: relative;
   top: 2rem;
   right: 10rem;
   max-width: 600px;
}
.kit{
    color: aliceblue;
    font-style: italic ;
    position: relative;
    top: 40px;
    
}
.jim{
    position: relative;
    left: 18rem;
    top: 2rem;
    font-size: 22px;
    height: 30px;
    width: 180px;
    color: aliceblue;
    background: rgb(34, 34, 117);
    border-radius: 20px;
    outline: 2px solid rgb(28, 28, 117);
}
.emy{
    height: 100%;
    width: 100%;
     background: linear-gradient(rgba(0, 0, 0, 0.144) , rgba(9, 9, 56, 0.696) ); 
}
.me{
  height: 100vh;
  width: 90%;

}

.work{
    height: 100vh;
    width: 100%;
    background: rgb(17, 17, 81);
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;

}
.card{
    height: 150px;
    width: 150px;
    border: 1px solid lightgrey;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(0, 200, 255, 0.628);
    position: relative;
    top: 4rem;
    right: 6rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);

}
.card-img{
    height: 100px;
    width: 149px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 21px;
    background: url(wok.png);
    background-size: contain;
    background-repeat: no-repeat;



}
.card-content h1{
    position: relative;
    top: 8rem;
    font-size: 20px;
    left: 35px;
    
}
.card-content p{
   position: relative;
 
   max-width: 500px;
   font-size: 10px;
   color: aliceblue;
   


}
.card:hover{
    height: 200px;
    width: 150px;
    transition: .2s;

}
.ker{
    height: 150px;
    width: 150px;
    border: 1px solid lightgrey;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(0, 179, 255, 0.701);
    position: relative;
    top: 11rem;
    right: 4rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);


}
.cdi{
    height: 100px;
    width: 149px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 21px;
     background: url(stol.png); 
    background-size: cover;
    background-repeat: no-repeat;

}
.cc .kit{
    position: relative;
    top: 7rem;
    color: black;
    font-size: 20px;
}
.cc .key{
    position: relative;
    top: 8rem;
    font-size: 10px;
    max-width: 400px;

}
.ker:hover{
    height: 180px;
    width: 150px;
    transition: .2s;
}
.box{
    
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 90%;
    position: relative;
    left: 10rem;
    top: 1rem;
    background: rgba(0, 0, 255, 0.135);
    background-size: contain;
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);
    
}




.kid{
    
    width: 150px;
    border: 1px solid lightgray;
    border-radius: 20px;
    position: relative;
    right: 10rem;
    top: 8rem;
    background: rgba(0, 0, 255, 0.135);
    background-size: contain;  
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);
}
.horn{
    height: 150px;
    width: 150px;
    border: 1px solid lightgrey;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background:  rgb(0, 217, 255);
    position: relative;
    left: 2rem;
    top: 11rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);
    
}
.hi{
    height: 100px;
    width: 149px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 21px;
     background: url(horn.png); 
    background-size: cover;
    background-repeat: no-repeat;

}
.hrn{
    position: relative;
    top: 7.5rem;
    left: .5rem;
    font-size: 19px;
    
}
.hon{
    position: relative;
    top: 8.5rem;
    left: .5rem;
    font-size: 10px;
}
.horn:hover{
    height: 180px;
    width: 150px;
    transition: .2s;
}
.drone{
    height: 150px;
    width: 150px;
    border: 1px solid lightgrey;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background:  rgb(0, 217, 255);
    position: relative;
    right: 2rem;
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);
    

}
 .drn{
    font-size: 19px;
    position: relative;
    top: 8rem;
    left: 0.5rem;
}
.don{
    position: relative;
    top: 8rem;
    font-size: 10px;
    max-width: 400px;

}
.drone:hover{
    height: 180px;
    width: 150px;
    transition: .2s;  
}
.di{
    height: 100px;
    width: 149px;
    border: 1px solid lightgray;
    position: absolute;
    border-radius: 21px;
     background: url(floor.png); 
    background-size: cover;
    background-repeat: no-repeat;

}
.drne{
    /* height: 150px; */
    width: 300px;
    position: relative;
    bottom: 45.8rem;
    left: 25rem;
    border-radius: 100%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px 2px rgb(0, 217, 255);
    
    
}
.line{
    height: 1px;
    width: 20rem;
    border:2px white ;
    position: relative;
    left: 9rem;
    bottom: 5rem;
}
.txt{
    color: aliceblue;
    position: relative;
    bottom: 9rem;
  right: 7rem;
    max-width: 200px;
    animation: wk 1s ease 1s normal;
    transition: 3s;
}
/* @keyframes wk {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
    
 } */

  
 .wk{
    color: aqua;
    font-size: 23px;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    text-decoration-style: double;
    animation: wk 1s ease 1s normal;
    transition: 2s;
 }
 @keyframes wk {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
    
 }
 .contact{
    background: rgb(0, 0, 133);
     height: 100vh; 
 }
 
 
 
  .mit{
    height: 200px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid aqua;
    background: url(me.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 3px 18px 3px aqua;
    position: relative;
    left: 10px;
    top: 20px;
 } 
 
 
    
 .lne{
    height: 0.5px;
    width: 100%;
    border: 0.5px solid aqua;
    border-radius: 1px;
    position: relative;
    top: 3rem;
    

 }
 footer{
    height: 100px;
    border-top-right-radius: 10px;
    width: 99%;
    position: relative;
    top: 1.2rem;
  
 }
    
 
 footer .social-icons {
    color: aliceblue;
    align-items: center;
    position: relative;
     bottom: 30rem;
    left: 30rem;
    word-spacing: 3rem;
    font-size: 20px;

 }
 h4{
    color: aliceblue;
    position: relative;
    left: 30rem;
    top: 1rem;


 }
 h5{
    color: aliceblue;
    position: relative;
    left: 30rem;
    top: 2rem;
    font-weight: 12;
 }
 h6{
    color: aliceblue;
    position: relative;
    left: 30rem;
    top: 3rem;
    font-weight: 12;
 }
 .lin{
    height: 0.5px;
    width: 30%;
    border: 0.5px solid aqua;
    border-radius: 1px;
    position: relative;
    bottom: 2.7rem;
    left: 30rem;
    
 }
 h3{
    color: aliceblue;
    position: relative;
    left: 13rem;
    bottom: 12rem; 
 }
 p{
    color: aliceblue;
    position: relative;
    bottom: 8rem;
    left: 11rem;
    max-width: 300px;
 }
 .ind{
    height: 0.5px;
    width: 40%;
    border: 0.5px solid aqua;
    border-radius: 1px;
    position: relative;
    bottom: 10rem;
    right: 4rem;
    
 }
 .dne{
    height: 150px;
    width: 150px;
    border: 1px solid aqua;
    background: url(dron.JPG);
    background-size: contain;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    bottom: 10rem;
    left: 10rem;
 }
 
 .rob{
    color: aliceblue;
    position: relative;
    top: 4rem;
 }
 